[Unit]
Description=Pi-hole Container
After=podman-user-wait-network-online.service
Wants=podman-user-wait-network-online.service
Requires=podman-user-wait-network-online.service

[Container]
Image=ghcr.io/royaloughtness/pihole:latest
ContainerName=pihole

AddHost=host.containers.internal:host-gateway

PublishPort=53:53/tcp
PublishPort=53:53/udp
PublishPort=80:80/tcp
PublishPort=443:443/tcp

Environment=TZ=America/Los_Angeles
Environment=FTLCONF_dns_listeningMode=ALL

Volume=/var/home/user/pihole/etc-pihole:/etc/pihole:Z
Volume=/var/home/user/pihole/etc-dnsmasq.d:/etc/dnsmasq.d:Z

[Service]
Restart=always

[Install]
WantedBy=default.target