policy_module(dnscrypt, 1.0.0)

attribute_role dnscrypt_roles;
roleattribute object_r dnscrypt_roles;

type dnscrypt_t;
type dnscrypt_exec_t;
domain_type(dnscrypt_t, dnscrypt_exec_t)
application_domain(dnscrypt_t, dnscrypt_exec_t)

role dnscrypt_roles types dnscrypt_t;