policy_module(dnscrypt, 1.0.0)

attribute_role dnscrypt_roles;
roleattribute object_r dnscrypt_roles;

type dnscrypt_t;
type dnscrypt_exec_t;
domain_type(dnscrypt_t, dnscrypt_exec_t)
init_daemon_domain(dnscrypt_t, dnscrypt_exec_t)

role dnscrypt_roles types dnscrypt_t;

init_nnp_daemon_domain(dnscrypt_t)
miscfiles_read_generic_certs(dnscrypt_t)
fs_search_cgroup_dirs(dnscrypt_t)
files_manage_var_files(dnscrypt_t)
files_manage_var_dirs(dnscrypt_t)
sysnet_read_config(dnscrypt_t)
corenet_udp_bind_generic_port(dnscrypt_t)
corenet_tcp_bind_generic_port(dnscrypt_t)
corenet_tcp_connect_http_port(dnscrypt_t)
corenet_tcp_connect_dns_port(dnscrypt_t)
corenet_udp_bind_generic_node(dnscrypt_t)
corenet_tcp_bind_generic_node(dnscrypt_t)

allow dnscrypt_t self:udp_socket create_socket_perms;
allow dnscrypt_t self:tcp_socket {create_stream_socket_perms;